*, *::before, *::after {
    box-sizing: border-box;
}
* {
margin: 0;
}

* {
    color: white;
    font-family: 'Space Mono';
}

html {
    font-size: 50px;
    height: 100%;
    width: 100%;
}

body {
    background-color: #272829;
    height: 150%;
    line-height: 1.5;
    border: 1px solid black;
}

header{
    width: 100%;
    height: 10%; 
}





main {
    display: flex;
    font-size: 0.5rem;

    flex-direction: column;
    
    padding: 0%;
    align-items: center;
    justify-content: center;

    height: 70%;
    width: 100%;

    
    
}



.game-grid{
    padding: 0.5%;
    height: 450px;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #8C6A5D;
    border-radius: 10px;
}

.item {
    background-color: #FFF3C7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    border-radius: 10px;
}

.two {
    background-color: #FFBE98;
}

.four {
    background-color: #FFAF45;
}

.eight {
    background-color: #FFB4B4;
}

.sixteen {
    background-color: #FB6D48;
}

.thirty-two {
    background-color: #BB8493;
}

.sixty-four {
    background-color: #704264;
}

.oneTwoEight {
    background-color:#D74B76;
}

.twoFiveSix {
    background-color: #AD88C6;
}

.fiveOneTwo {
    background-color: #7469B6;
}

.oneZeroTwoFour {
    background-color: #673F69;
}

.twoZeroFourEight {
    background-color: #A0153E;
}


body {
    
}

header{
    background-color: #35374B;
    
    display: flex;
    align-items: center;
    justify-content: center;
   
}

main {
    display: flex;
    align-items: center;
    justify-content: start;
}

footer {
    height: 20%;
    width: 100%;
    background-color: #344955;
}
 footer div {
    margin: 1%;
 }


button {
    margin: 2%;
    height: 7.5%;
    background-color: #bc5050;
    border-radius: 10px;

}

.desc {
    font-size: 0.5rem;
}



.gameOver {
    opacity: 0.5;
}

.over {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    top: 50%;
}

.gamWon {
    opacity: 0.5;
}